<h1>About the Author</h1>
<h2>Stephen Hawking</h2>

<img align="right" style="padding-left: 10px" src="http://www.hawking.org.uk/uploads/1/2/2/1/12210141/9158058.jpg">


<p>
was an English theoretical physicist, cosmologist, and author, who was director of research at the Centre for Theoretical Cosmology at the University of Cambridge at the time of his death.[16][17] He was the Lucasian Professor of Mathematics at the University of Cambridge between 1979 and 2009.</p>

<p>
His scientific works included a collaboration with Roger Penrose on gravitational singularity theorems in the framework of general relativity and the theoretical prediction that black holes emit radiation, often called Hawking radiation. Hawking was the first to set out a theory of cosmology explained by a union of the general theory of relativity and quantum mechanics. He was a vigorous supporter of the many-worlds interpretation of quantum mechanics.[18][19]
</p>